    
<div class="row">
  <div class="col-4">
    <div class="input-group mb-3">
      <label class="input-group-text" for="inputGroupSelect01">Choose Your Equipment</label>
      <select class="form-select" id="equipment-choice">
        <option selected>Choose...</option>
        <option value="band">band</option>
        <option value="2">At the Gym</option>

      </select>
    </div>
    <div class="input-group mb-3">
      <label class="input-group-text" for="inputGroupSelect01">Select Your Target Area</label>
      <select class="form-select" id="body-part-dropdown">
        <option selected>Choose...</option>
        <option value="back">back</option>
        <option value="chest">chest</option>
        <option value="lower arms">lower arms</option>
        <option value="upper arms">upper arms</option>
        <option value="shoulders">shoulders</option>
        <option value="waist">waist</option>
        <option value="upper legs">upper legs</option>
        <option value="lower legs">lower legs</option>
      </select>
    </div>
    <input class="btn btn-dark workoutButton" type="submit" value="submit">
<input class="btn btn-dark compworkout" type="link" value="Compleate">
  </div>
  <div class="col-8">

{{#if workouts.length}}

{{#each workouts as |randomWorkout|}}
 <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                   <img src={{randomWorkout.workoutGif}}>
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class= "bodyPart">Body Part: {{randomWorkout.workoutBodypart}}</h5>
                      <p class= 'workoutName'>Name of Workout:{{randomWorkout.workoutName}}</p>
                     <p class="targetMuscle">Target Muscle: {{randomWorkout.workoutTarget}}</p>
                       <p class="targetMuscle">Equipment: {{randomWorkout.workoutEquipment}}</p>
                    </div>
                  </div>
                </div>
              </div>
{{!-- <div class="text-center">

  
  
   <img src={{randomWorkout.workoutGif}}>
</div> --}}
{{/each}}
{{/if}}



    {{!-- <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="./images/smallplaceholderimage.jpg" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div> --}}




  </div>

</div>
<script src="/js/exercise.js"></script>